/* You can add global styles to this file, and also import other style files */
[hidden] {
  display: none;
}

a {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.w-full {
  width: 100%;
}

.p-2 {
  padding: 10px;
}

.pl-2 {
  padding-left: 10px;
}

.w-200 {
  width: 200px;
}
