/* You can add global styles to this file, and also import other style files */
body,
html {
  background-color: #2d3748;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
