<ul class="list-reset">
  <li *ngFor="let method of methods">
    <div class="flex flex-col">
      <!-- FIRST FIELD (THE DECISION) -->
      <rr-play-field
        [data]="{
          type: 'boolean',
          name: method.name,
          placeholder: method.placeholder,
          disabled: method.disabled
        }"
        (onChange)="didFieldChange($event)"
      ></rr-play-field>
      <div class="mb-3" *ngIf="showInput[method.name]">
        <div class="flex flex-col mb-3 mt-1">
          <small>{{ method.description }}</small>
          <small class="mt-1 text-purple-dark text-xs"
            >defaults to {{ method.default }}</small
          >
        </div>
        <!-- SECOND FIELD (THE USER INPUT) -->
        <rr-play-field
          [data]="{
            name: method.name,
            placeholder: method.placeholder,
            type: method.type === 'boolean' ? 'assert' : method.type,
            value: method.value,
            options: method.options,
            target: method.target
          }"
          (onChange)="didFieldValueChange($event)"
        ></rr-play-field>
      </div>
    </div>
  </li>
</ul>
