<button (click)="getCat()">Get Cat</button>
<button (click)="postCat()">Post Cat</button>

<button (click)="loginFirebase()">Login Firebase</button>
<button (click)="logoutFirebase()">Logout Firebase</button>

<!-- {{ babyDynamic$ | async | json }} -->
<br />
baby:
<br />
{{ baby$ | async | json }}
<br /><br />

<!-- cat: <br />
{{ cat$ | async | json }} -->

<br /><br />
<button (click)="getCatFirestore()">Get Cat from Firestore</button
><button (click)="getCatFirestoreNoCache()">
  Get Cat from Firestore (NO CACHE)
</button>
<br />
baby firestore:
<br />
{{ babyFirestore$ | async | json }}
<br /><br />

<button (click)="getCatFirebase()">Get Cat from Firebase</button>
<button (click)="getCatFirebaseNoCache()">
  Get Cat from Firebase (NO CACHE)
</button>
<br />
baby firebase:
<br />
{{ babyFirebase$ | async | json }}
<br /><br />

Should use cache?:
<br />
<input type="radio" name="useCache" [(ngModel)]="shouldUseCache" value="yes" />
Yes
<br />
<input type="radio" name="useCache" [(ngModel)]="shouldUseCache" value="no" />
No
<br />
<button (click)="useCache()">Post</button>
<br />
response total: {{ useCacheResult.length }}<br />
{{ useCacheResult | json }}
