<button (click)="getCat()">Get Cat</button>
<button (click)="postCat()">Post Cat</button>
<button (click)="getCatFirestore()">Get Cat from Firestore</button>
<button (click)="getCatFirebase()">Get Cat from Firebase</button>
<button (click)="loginFirebase()">Login Firebase</button>
<button (click)="logoutFirebase()">Logout Firebase</button>

<!-- {{ babyDynamic$ | async | json }} -->
<br />
baby:
<br />
{{ baby$ | async | json }}
<br /><br />

cat: <br />
{{ cat$ | async | json }}

<br /><br />

baby firestore:
<br />
{{ babyFirestore$ | async | json }}
<br /><br />

baby firebase:
<br />
{{ babyFirebase$ | async | json }}
<br /><br />
