<div class="flex flex-col">
  <!-- CHAIN OPTIONS -->
  <rr-play-chaining-picker
    [methods]="methodsChain$ | async"
    (onAdd)="didAddMethod($event)"
    (onUpdate)="didUpdateMethod($event)"
  ></rr-play-chaining-picker>

  <!-- CHAIN VERB -->
  <mat-form-field>
    <mat-select
      placeholder="Verb"
      (selectionChange)="didUpdateVerb($event)"
      [ngModel]="selectedVerbMethod.name"
    >
      <mat-option
        *ngFor="let method of (verbMethods$ | async)"
        [value]="method.name"
        [disabled]="method.disabled"
      >
        {{ method.placeholder }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <!-- CHAIN ACTION -->
  <div class="flex flex-row justify-center">
    <button mat-button color="primary" (click)="execute()">Execute</button>
    <button mat-button color="warn" (click)="clearCache()">
      Clear Cache
    </button>
  </div>

  <!-- CACHE EXPLORER -->
  <rr-play-cache-explorer [data]="cache"></rr-play-cache-explorer>
</div>
