<div class="flex flex-col mb-5">
  <!-- CHAIN OPTIONS -->
  <div class="card mt-0">
    <div class="multi-header flex flex-row">
      <div
        class="header"
        [ngClass]="{ inactive: target === 'server' }"
        (click)="loadMethodsFor('browser')"
      >
        BROWSER
      </div>
      <div
        class="header"
        [ngClass]="{ inactive: target === 'browser' }"
        (click)="loadMethodsFor('server')"
      >
        SERVER
      </div>
    </div>
    <div class="block px-4 py-0">
      <rr-play-chaining-picker
        [methods]="methods$ | async"
        (onAdd)="didAddMethod($event)"
        (onUpdate)="didUpdateMethod($event)"
      ></rr-play-chaining-picker>
    </div>
  </div>

  <div class="card mt-10">
    <div class="header">VERB</div>
    <!-- CHAIN VERB -->
    <div class="block px-4 py-0">
      <mat-form-field class="w-full">
        <mat-select
          placeholder=""
          (selectionChange)="didUpdateVerb($event)"
          [ngModel]="selectedVerbMethod.name"
        >
          <mat-option
            *ngFor="let method of (verbMethods$ | async)"
            [value]="method.name"
            [disabled]="method.disabled"
          >
            {{ method.placeholder }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- CHAIN ACTION -->
    <div class="flex flex-row justify-center mb-2">
      <button mat-button color="warn" (click)="execute()">
        <small>EXECUTE</small>
      </button>
      <button mat-button color="" (click)="clearCache()">
        <small>CLEAR CACHE</small>
      </button>
      <button mat-button color="" (click)="clearResponse()">
        <small>CLEAR RESPONSE</small>
      </button>
    </div>
  </div>
</div>
