<footer id="footer">
  <span id="todo-count" [hidden]="!left()">
    <strong>{{ left() }}</strong>
    items left
  </span>

  <ul id="filters">
    <li>
      <a
        [ngClass]="{ selected: !filter || filter === 'all' }"
        (click)="filterBy('all')"
        >All</a
      >
    </li>
    <li>
      <a
        [ngClass]="{ selected: filter === 'active' }"
        (click)="filterBy('active')"
        >Active</a
      >
    </li>
    <li>
      <a
        [ngClass]="{ selected: filter === 'completed' }"
        (click)="filterBy('completed')"
        >Completed</a
      >
    </li>
  </ul>
  <button
    id="clear-completed"
    (click)="clearCompleted()"
    [hidden]="!completed()"
  >
    Clear completed
  </button>
</footer>
