import { NgModule } from '@angular/core';
import { CommonModule } from '@angular/common';
import { <%= classify(name) %>ContainerComponent } from './<%= dasherize(name) %>-container.component';

@NgModule({
  declarations: [<%= classify(name) %>ContainerComponent],
  imports: [CommonModule],
  exports: [<%= classify(name) %>ContainerComponent]
})
export class <%= classify(name) %>ContainerModule { }