//
// common imports
@import "~codemirror/lib/codemirror.css";
@import "~codemirror/theme/material.css";

//
// common resets

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

//
// common customizations

rr-play-chaining-picker {
    .field {
        &.field-callback {
            .CodeMirror {
                height: 150px;
            }

            // margin-top: -16px;

            // .mat-form-field-label-wrapper {
            //     display: none;
            // }

            // mat-form-field {
            //     width: 95%;
            // }

            // textarea {
            //     height: 78px;
            // }
       
        }

        &.field-assert {
            margin-bottom: 8px;

            .mat-radio-label-content {
                margin-right: 10px;
            }
        }
    }
}

//
// common defaults

.card {
    background-color: hsla(0, 0%, 100%, 0.5);
}
