<div class="container mx-auto flex flex-wrap max-w-3xl my-10">
  <!--xl:w-1/4-->
  <div class="w-full lg:w-1/2">
    <rr-play-chaining-picker-container
      class="block px-4 py-6"
    ></rr-play-chaining-picker-container>
  </div>

  <div class="w-full lg:w-1/2">
    <div class="flex flex-row justify-end">
      <rr-play-collection-chooser-container>
      </rr-play-collection-chooser-container>
    </div>
    <div class="card">
      <rr-play-chaining-api-container
        class="block px-4 py-6"
      ></rr-play-chaining-api-container>
    </div>

    <div class="card mt-4">
      <rr-play-collection-response-container class="block px-4 py-6">
      </rr-play-collection-response-container>
    </div>

    <div class="card mt-4">
      setup.. .
    </div>
  </div>
</div>
