<header class="flex">
  <h1>Welcome to {{ title }}!</h1>
</header>
<main>
  <br /><br /><br />
  <button (click)="configureHttp()">CONFIGURE HTTP</button>
  <button (click)="webWorkerPost()">HTTP POST WORKER</button>
  <button (click)="webWorkerHttp()">HTTP WEB WORKER</button>

  <button (click)="clearState()">CLEAR STATE</button>
  <button (click)="clearCache()">CLEAR CACHE</button>

  <button (click)="webWorkerParse()">PARSE WEB WORKER</button>
  <button (click)="includeTest()">PARSE INCLUDE</button>
  <button (click)="parseToPromise()">PARSE TO PROMISE</button>
  <button (click)="parseSaveAll()">PARSE SAVE ALL</button>
  <button (click)="realtimeUnsubscribe()">REALTIME UNSUBSCRIBE</button>
  <button (click)="firebaseTest()">FIREBASE TEST</button>

  <button (click)="parseSelect()">PARSE SELECT</button>
  <button (click)="parseDelete()">PARSE DELETE</button>

  <button (click)="parseRealtimeTodo()">PARSE REALTIME TODO</button>
  <button (click)="parseAggregate()">PARSE AGGREGATE</button>
</main>

<router-outlet></router-outlet>
